.graphNetwork .node {
	stroke: #fff;
	stroke-width: 1.5px;
}
.graphNetwork .figure{
  pointer-events: all;
  fill:	#89B;
}
.graphNetwork .legend {
  pointer-events: none;
  font: 10px sans-serif;
}
.graphNetwork line.link {
	stroke: #999;
	stroke-opacity: .6;
}

.graphNetwork  {
	border: 1px solid #000;
	background-color: #E5E5EF;
}

.clearBoth { clear:both; }