.ruler {
	height:100%;
	line-height:1;
	font-family:Helvetica, Arial, sans-serif;
	color:#666;
	font-size: 12px;
}

.ruler .active_rules, .rules_editor{
	background-image:url('images/arrow_right_small.png');
	background-repeat: no-repeat;
	background-color: transparent;
	padding: 7px 10px 10px 40px;
}
.ruler  header{
	font-size: 120%;
	font-weight:bold;
	letter-spacing: -0.04em;
}
.ruler ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.ruler ul li{
	background-color: #F3F3F3;
	padding: 6px; 
	margin-top:8px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: rgba(0, 0, 128, 0.246094) 2px 2px 1px;
}
.ruler .active_rules ul.sortable li{
	padding-left: 40px; 
}
.ruler .active_rules ul.sortable li.warning{
	background-color: #FFF0C0;
}
.ruler .active_rules ul.sortable li.warning:hover{
	background-color: #FFCC00;
}
.ruler .active_rules ul.sortable li:hover{
	background-color: #F3F8F3;
	background-image:url('images/draggable.png');
	background-repeat: no-repeat;
	background-position: 10px 4px; 
}
.ruler .rule {
	width:80%;
}
.ruler .rights {
	text-align:right;
}
.ruler .close {
	width:20px;
	height:20px;
	text-align:right;
/*	background-image:url('images/close.png');
*/	opacity:0.7;
	font-size:1.5em;
}
.ruler .close:before{ content: "\2716"; }
.ruler .close:hover{
	opacity:1.0;
	cursor:pointer;
	}
.ruler .affected {
	width:9%;
	text-align:center;
	font-size: 70%;
	border: 1px solid #CCC;
	padding: 0px 2px 0px 2px;
	border-radius: .8em;
	-webkit-border-radius: .8em;
	-moz-border-radius: .5em;
	text-align:right;
}
.ruler table {
	width:100%
}
.ruler .rule_item{
	list-style-type: none;
}
.ruler .rule_item td {
	background: transparent;
	border: 0px;
}
.ruler .rule_item table{
	margin: 0px;
}
.ruler .action {
	width:9%;
	text-align:center;
	font-size: 85%;
	background-color: #E3E3E3;
	padding: 2px; 
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-box-shadow: rgba(0, 0, 128, 0.246094) 2px 2px 1px;
}
.ruler .action:active {
	background-color: #F3F3F3;
	-webkit-box-shadow: rgba(0, 0, 128, 0.246094) -2px -2px 1px;
		
}
.ruler .action:hover {
	font-weight:bold;
	cursor: pointer;
}
.ruler .styled-select {
	background-color: transparent;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	border: 0px ;
	-webkit-appearance: none;
}
.ruler .styled-select:hover {
	cursor: pointer;
}
.ruler .add_rule {
	text-align:right;
	margin-top:10px;
	text-decoration: underline;
}
.ruler .add_rule a{
	font-weight:bold;
}
.ruler .add_rule a:hover {
	color: #898;
	cursor: pointer;
}



.ruler  span.tooltip {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:240px; line-height:16px;
}
.ruler .active_rules ul.sortable li:hover span.tooltip,.ruler  .close:hover span.tooltip{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
    
/*CSS3 extras*/
.ruler .active_rules ul.sortable li span.tooltip
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}