.networkLoader { 
	float:left;
	width:960px;
	padding: 5px;
	font-family: Calibri, Arial;
	font-size:20px;
}
.networkLoader header{
	font-weight: bold;
	font-size:	18px;
	float: left;
} 


.networkLoader .button-link { 
	display:none;
}
.networkLoader .fake-file{
	padding-left:32px;
	padding-top:16px;
	vertical-align:middle;
	background-image:url('images/open-exp.png');
}
.networkLoader .exp-edit{
	background-image:url('images/pencil-exp.png');
}
.networkLoader .exp-remove{
	background-image:url('images/off-exp.png');
}

.networkLoader .fake-file:hover{
	cursor: pointer;
	font-weight:bold;
	background-color: #FDD;
}
.networkLoader output {
	text-decoration: none;
	font-size: 75%;
	color: #55F;
}
.networkLoader label[for=color] {
	font-size: 75%;
	text-decoration: none;
	padding-top: 10px;
	
}
.networkLoader output {
	text-decoration: none;
	font-size: 75%;
   	color: #D10000;
}
.networkLoader ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
/*	height:350px; 
*/ 
}
.networkLoader li {
	display: block;
	padding: 20px;
	width: 870px;
	background-color: rgba(150,200,250,0.7);
	margin-bottom: 5px;
	border-radius: 40px; /* half of button size + padding */
	-moz-border-radius: 40px;
}
.networkLoader .fakefile{
	display: inline;
	text-decoration: underline;
	cursor:pointer;
	color: #22e;
}
.networkLoader input[type=text]{
	font-size:1.2em;
	padding-left: 10px;
}
.networkLoader span.index {
    display: inline-block;
    *display: inline;/* for IE7*/
    *zoom:1;/* for IE7*/
   	background-color: #D10000;
	color: white;
	text-align: center;
	font-size:2em;
	min-width:45px;
	min-height:40px;
	border-radius: 40px; /* half of button size + padding */
	-moz-border-radius: 40px;
	margin-right: 20px;
	
}
.networkLoader .infoLink {
   	background-color: #0040FD;
   	display: inline-block;
   	vertical-align:super;
	color: white;
	text-align: center;
	margin-left: 10px;
	font-family:Lucida,Times,Arial;
	font-size: 16px;
	font-weight:bold;
	min-width: 20px;
	min-height: 20px;
	border-radius: 20px; /* half of button size + padding */
	-moz-border-radius: 20px;
	margin-right: 10px;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}
.networkLoader .infoLink:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
	cursor:pointer;
}
.networkLoader .infoLink span.tooltip {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:440px; line-height:16px;
	font-family: Calibri, Arial;
	font-weight: normal;
	text-align: left;
}
.networkLoader .infoLink:hover span.tooltip{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
    
/*CSS3 extras*/
.networkLoader .infoLink span.tooltip
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
        
    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}

.networkLoader table{
	border-collapse:collapse;
	padding: 0 8px 0 8px;
}
.networkLoader th{
	padding: 0 8px 0 8px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.networkLoader td{
	padding: 0 8px 0 8px;
	border: 1px solid #ddd;
	background-color: rgba(250,250,250,0.5);
	color: #F44;
}
.networkLoader div.sample{
	position: relative; 
	top: -135px;; 
	font-weight: bold; 
	font-size:80px;
	text-shadow: -2px -2px 2px #fff, 2px 2px 2px #000;
	color: #9c8468;
	opacity: 0.4;
	-webkit-transform: rotate(-9deg);
	-moz-transform: rotate(-9deg);
	-ms-transform: rotate(-9deg);
	-o-transform: rotate(-9deg);
	height: 0px;
	max-width:750px;
	left: 80px;
}
.networkLoader div.sample p{
	margin:0px;
}
.networkLoader .error {
	position: relative;
	top: -26px;
	left: 800px;
	font-size: 60px;
	color: #D00;	
	display: block;
}
.networkLoader .ok {
	position: relative;
	top: -26px;
	left: 800px;
	font-size: 60px;
	color: #0D0;	
}
.networkLoader div.buttonHolder {
	text-align:right;
	width:800px;
}
.networkLoader button.active {
	font-size: 1.3em;
	font-size: 1.3em;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#d10000 0%,
		#d16666);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d10000),
		to(#d16666));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #d10000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}
.networkLoader button.inactive {

	font-size: 1.3em;
	color: #bbb;
	padding: 10px 20px;
	background-color: #eee;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 0px;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}
.networkLoader button.active:active {
        position:relative;
        top:1px;
}
.networkLoader button.active:hover {
	background: -moz-linear-gradient(
		top,
		#d16666 0%,
		#d10000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d16666),
		to(#d10000));
	cursor: pointer;
}

.progress { 
	position:relative; 
	width:400px; 
	border: 1px solid #d10000; 
	padding: 1px; 
	border-radius: 3px;
}
.bar { 
	background-color: #fff; 
	width:0%; 
	height:20px; 
	border-radius: 3px;
}
.percent { 
	font-size:0.8em;
	position:absolute; 
	display:inline-block; 
	top:3px; 
	left:48%; 
}
.networkLoader .tablecontainer {
	max-width:750px;
	max-height: 400px;
	overflow:auto;
}


/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
.networkLoader input[type=radio] {
    display:none; 
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
.networkLoader input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
.networkLoader input[type=radio]:checked + label  {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px
		rgba(0, 0, 0, 0.05);
	background-color: #e0e0e0;
}
.networkLoader .typeMessage{
	color: #555;
}
.networkLoader .privacy2{
	display: inline-block;
}