* {
  padding: 0;
  margin: 0;
} 

body {
  background: #fff url(images/header.gif) repeat-x;
  color: #333;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
img {
  border: none;
}
a {
  color: #6998f0;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

#wrap {
  width: 1000px;
  margin: 0px auto;
}
.clear {
  clear: both;
}

/* header */

#header {
  height: 90px;
}
#header h1 {
  padding: 20px 0 5px 10px;
  font-size: 20px;
  letter-spacing: -2px;
}
#header h2 {
  padding-left: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 100;
}

/* right */

.right {
  float: right;
  width: 538px;
  padding: 10px 20px 10px 40px;
  border-left: 1px solid #aaa;
  text-align: justify;
}
.right h2 {
  padding: 15px 0 5px 0;
  color: #B4241B;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -2px;
}
/* left */

.left {
  float: left;
  width: 390px;
  padding: 0 0 10px 10px;
}
.left h2 {
  clear: left;
  padding-top: 20px;
  color: #333;
  font-size: 13px;
}
