.wizard_mask{
	-webkit-transform: translate3d(0px, 0px, 0px); 
	background-color: rgb(0, 0, 0); 
	margin: 0px; 
	padding: 0px; 
	height: 5248px; 
	left: 0px; 
	position: fixed; 
	width: 2500px; 
	top: 0px; 
	z-index: 2147483645; 
	opacity: 0.8;
	display:none;
}
.wizard_container{
	display:none;
	background-color:white;
	-webkit-transform: translate3d(0px, 0px, 0px); 
	height: 441px; 
	left: 50%; 
	margin-left: -348px; 
	position: fixed; 
	top: 18px; 
	width: 696px; 
	z-index: 2147483646; 
	opacity: 1;
	text-align: left;
	border-radius: 10px;
	border: 3px solid #D10000;
}
.wizard_container .dataset {
	color: #0F67A5;
}
.wizard_container header {
	margin: 10px;
}
.wizard_container header img{
	height: 33px;
}
.wizard_container header span{
	font-family: 'Jura',"Helvetica Neue", Helvetica;
	vertical-align: top;
	font-size: 33px;
	padding: 10px;
}
.wizard_div{
	margin: 30px 10px 10px 10px;
}
.wizard_button{
	text-align: center;
	margin: 28px 8px 8px 8px;
}
.wizard_button button{
	font-size:1.1em;
	background-color: #1f77b4;
	color: white;
	width: 200px;
	height: 200px;
	border-radius: 10px;
	margin-left: 10px;
	opacity: 0.8;
}
.wizard_button button:hover{
	opacity: 1;
}
.wizard_button button:active{
	opacity: 0.9;
}
.wizard_button button:disabled{
	opacity: 0.8;
	background-color: #cccccc;
}
.wizard_button button:disabled img{
	-webkit-filter: grayscale(.8);
}
.wizard_button div{
	display: inline-block;
}
.wizard_button div:hover .explain{
	display: block;
}
.explain {
	position: absolute;
	background: #D30000;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, .8);
	width: 20%;
	padding: 4px;
	margin: 10px 1px;
	font: normal 13px/16px Arial, Sans-serif;
	color: #fff;
    display:none;
	 
	-moz-transition: opacity 200ms 50ms linear;
	-webkit-transition: opacity 200ms 50ms linear;
	-ms-transition: opacity 200ms 50ms linear;
	-o-transition: opacity 200ms 50ms linear;
	transition: opacity 200ms 50ms linear;
}

.explain::before
{
	position: absolute;
	left: 50%;
	background: #D30000;
	content: "";
	width: 8px;
	height: 8px;
	margin: -9px 0 0 0px;
        
    -moz-transition: opacity 200ms 50ms linear;
    -webkit-transition: opacity 200ms 50ms linear;
    -ms-transition: opacity 200ms 50ms linear;
    -o-transition: opacity 200ms 50ms linear;
    transition: opacity 200ms 50ms linear;
     
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}